body {
    margin: 0;
    padding: 0;
    background: #F5F5F0;
    color: black;
    font-family: Monaco;
}

.list-movies-title {
    padding: 10px 0;
    background: #009B50;
    color: white;
    text-align: center;
    font-size: 16pt;
}

.movie-grid {
    padding: 0;
    margin: 60 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: start;
    justify-items: center;
    max-width: 800px;
}

.movie-grid li {
    padding: 10px 15px;
    text-align: left;
}

.movie {
    width: 128px;
}

.movie-title,
.movie-year,
.movie-rating {
    font-size: 0.8em;
    text-align: center;
}

.movie-rating {
    margin-top: 5px;
}

.movie-title {
    margin-top: 10px;
}

.movie-year {
    color: #999;
}

.movie-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 128px;
    height: 193px;
}
